@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 0.75;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 0.86;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffe17f;
}

.button:hover {
  color: #ffe17f;
  background-color: #000000;
}

.page-header {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #000000;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 40px auto 0;
  background-color: #ffe17f;
}

.navigation-logo {
  display: block;
  margin: -20px auto 30px 60px;
}

.menu-container {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  justify-content:  space-between;
  align-items: center;
}

.page-search-form {
  width: 517px;
}

.navigation-menu-list {
  display: flex;
  margin-left: auto;
  gap: 36px;
  list-style: none;
}

.navigation-login-wrapper {
  margin: 0 26px;
}

.navigation-menu-link {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.6;
  color: #000000;
  text-align: right;
  text-decoration: none;
}

.catalog-container {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  justify-content: space-between;
  align-items:  center;
}

.navigation-catalog-list {
  display: flex;
  margin-left: auto;
  gap: 45px;
  list-style: none;
}

.navigation-catalog-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 0.86;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.main-page {
  flex-grow: 1;
}

.slider-pagination-item {
  display: flex;
  width: 1160px;
}

.slider-image-container {
  display: flex;

}

.article-text-big {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 1;
}

.article-text-small {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.6;
  color: #444444;
}

.slider-info {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 0.6;
}

.slider-info-term {
  font-size: 36px;
}

.slider-info-description {
  font-size: 18px;
  color: #444444;
}

.mini-catalog-image {
  background-color: #ffe17f;
}

.mini-catalog-title {
  letter-spacing: -0.02em;
}

.services {
  background-color: #f0f0f0;
}

.services-article {
  background-image: url("../images/delivery-image.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.services-title {
  font-size: 50px;
  line-height: 1;
}

.services-description {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.6;
}

.delivery {
  background-color: #f0f0f0;
}

.delivery-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.delivery-link::before{
  content: url("../images/delivery-icon.svg");
  background-color: #ffe17f;
}

.delivery-link::after {
  content: url("../images/info-button.svg");
  background-color: #444444;
}

.about-us-title {
  font-size: 50px;
  line-height: 1;
}

.about-us-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.6;
  color: #444444;
}

.about-us-delivery-list {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.9;
  list-style: none;
  color: #444444;
}

.contacts-title {
  font-size: 50px;
  line-height: 1;
}

.contacts-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.6;
  color: #444444;
}

.subscription {
  background-color: #f0f0f0;
}

.subscription-text-title {
  font-size: 50px;
  line-height: 1;
}

.subscription-text{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.6;
}

.subscription-text-aside::before{
  content: url("../images/button-checkmark.svg");
  color: #08af00;
}

.subscription-button {
  background-color: #f0f0f0;
}

.page-footer {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  background-color: #444444;
  color: #ffffff;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 0.86;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.telegram {
  background-image: url("../images/icon-telegram.svg");
  background-repeat: no-repeat;
}

.twitter {
  background-image: url("../images/icon-twitter.svg");
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("../images/icon-youtube.svg");
  background-repeat: no-repeat;
}

.footer-contacts-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  color: #ffffff;
  text-decoration: underline;
}

.inner-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 1;
}

.breadcrumbs-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
}

.catalog-products {
  background-color: #f0f0f0;
  color: #000000;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 0.84;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-price-filter .range-value{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.7;
  color: #000000;
  opacity: 0.3;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 0.9;
  letter-spacing: -0.02em;
}

.catalog-filter-group {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.6;
}

.product-list {
  background-color: #ffffff;
  color: #000000;
}

.product-card-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.9;
  letter-spacing: -0.02em;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.86;
  text-align: right;
  color: #444444;
}

.catalog-pagination-show-more {
  background-color: #ffffff;
}

.page-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 0.86;
  color: #000000;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.edge-page {
  color: #444444;
  opacity: 0.3;
}

.catalog-pagination-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-current {
  opacity: 0.6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
