@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffe17f;
}

.button:hover {
  min-width: 280px;
  text-align: left;
  color: #ffe17f;
  background-color: #000000;
}

.button-pressed {
  min-width: 280px;
  text-align: left;
  color: #ffe17f;
  background-color: #000000;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.page-header {
  flex-shrink: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #000000;
}

.page-header ul {
  list-style: none;
}

.header-container {
  margin-top: 40px;
  padding: 0;
  background-color: #ffe17f;
}

.main-page-header {
  min-height: 300px;
}

.header-inner {
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
}

.navigation-logo {
  display: block;
  margin: 0;
  max-width: 145px;
}

.navigation-logo:hover .logo {
  opacity: 0.6;
}

.navigation-logo:active .logo {
  opacity: 0.3;
}

.navigation-logo:focus-visible {
  outline: 2px solid #af4fff;
}

@supports not selector(:focus-visible) {
  .navigation-logo:focus {
    outline: 2px solid #af4fff;
  }
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-between;
  align-items: center;
}

.page-search-form {
  width: 100%;
  max-width: 517px;
  margin: 0;
}

.navigation-login-list {
  display: flex;
  gap: 28px;
  margin: 0;
  margin-right: auto;
}

.navigation-menu-list {
  display: flex;
  gap: 36px;
  margin: 0;
}

.navigation-menu-link {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  color: #000000;
  text-align: right;
  text-decoration: none;
}

.navigation-logout {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:  center;
}

.navigation-catalog-list {
  display: flex;
  margin-left: auto;
  gap: 45px;
}

.navigation-catalog-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.main-inner {
  flex-grow: 1;
}

.main-page {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}

.main-inner ul {
  list-style: none;
}

.slider {
  max-width: 1160px;
  min-height: 410px;
}

.slider-pagination {
  margin: 0;
  padding: 0;
}

.slider-pagination-item {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.slider-button {
  display: block;
  margin: 0;
}

.slider-image {
  position: absolute;
  left: 140px;
  top: 190px;
  margin: 0;
  padding: 0;
}

.slider-counter {
  position: absolute;
  right: 189px;
  top: 219px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0;
  width: 250px;
  height: 135px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 0.17;
  color: #ffffff;
}

.slider-article {
  position: absolute;
  right: 140px;
  top: 311px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 560px;
  align-items: flex-start;
  row-gap: 50px;
  padding: 0;
}

.article-text-container {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.article-text-big {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 1;
}

.article-text-small {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #444444;
}

.article-button {
  display: block;
  align-self: flex-start;
}

.slider-info {
  display: flex;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.slider-feature {
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  align-items: flex-start;
}

.slider-info-term {
  margin: 0;
  font-size: 36px;
  line-height: 0.83;
}

.slider-info-description {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  color: #444444;
}

.slider-indicator-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.mini-catalog-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  padding: 0;
  margin: 0;
}

.mini-catalog-link {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  min-height: 253px;
}

.mini-catalog-image {
  background-color: #ffe17f;
}

.mini-catalog-title {
  margin: 0;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.services {
  position: relative;
}

.services::after {
  position: absolute;
  top: 102px;
  min-height: 289px;
  width: 100%;
  content: "";
  background-color: #f0f0f0;
  z-index: -1;
}

.services-container {
  display: flex;
  align-items: center;
  column-gap: 116px;
  min-height: 319px;
  margin-bottom: 72px;
}

.services-list {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 287px;
}

.services-article-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  max-width: 694px;
}

.services-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  row-gap: 34px;
  width: 100%;
  max-width: 452px;
}

.services-article-container::after {
  background-image: url(../images/delivery-image.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 136px;
  height: 164px;
  content: "";
}

.services-title {
  margin: 0;
  font-size: 50px;
  line-height: 1;
}

.services-description {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.delivery {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.delivery-link {
  width: 100%;
  display: grid;
  grid-template-columns: 125px auto 125px;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.delivery-link::before{
  content: "";
  width: 125px;
  height: 100px;
  background-image: url("../images/delivery-icon.svg");
  background-repeat: no-repeat;
  background-color: #ffe17f;
}

.delivery-link::after {
  content: "";
  align-self: center;
  justify-self: center;
  width: 40px;
  height: 40px;
  background-image: url("../images/info-button.svg");
  background-repeat: no-repeat;
  background-color: #f0f0f0;
}

.about-contacts-container {
  display: flex;
  justify-content: space-between;
}

.about-us {
  display: flex;
  flex-direction: column;
  padding-right: 23px;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  row-gap: 30px;
}

.about-us-title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 50px;
  line-height: 1;
}

.about-us-text {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #444444;
}

.about-us-delivery-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 19px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.02em;
  color: #444444;
}

.about-us-deliveries {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 26px;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-right: 18px;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  row-gap: 30px;
}

.contacts-container h3 {
  margin: 0;
}

.contacts-container p {
  margin: 0;
}

.contacts-subcontainer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.contacts-title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 50px;
  line-height: 1;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #444444;
}

.contacts-text-address {
  margin: 0 auto;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
}

.subscription {
  display: flex;
  flex-direction: column;
  row-gap: 144px;
  background-color: #f0f0f0;
}

.subscription-text-container {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.subscription-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.subscription-text-title {
  font-size: 50px;
  line-height: 1;
}

.subscription-text{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.subscription-text-aside::before{
  content: url("../images/button-checkmark.svg");
  color: #08af00;
}

.subscription-button {
  width: auto;
  background-color: #f0f0f0;
}

.page-footer {
  display: flex;
  flex-shrink: 0;
  min-height: 321px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  background-color: #444444;
  color: #ffffff;
}

.page-footer ul {
  list-style: none;
}

.footer-inner {
  display: grid;
  grid-template-columns: /* 239px 444px 175px; */ 28% 50% 20%;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 182px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 123px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 63px;
  min-height: 116px;
}

.footer-link-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.footer-social-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  gap: 15px;
}

.footer-link {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.telegram {
  background-image: url("../images/icon-telegram.svg");
  background-repeat: no-repeat;
}

.twitter {
  background-image: url("../images/icon-twitter.svg");
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("../images/icon-youtube.svg");
  background-repeat: no-repeat;
}

.footer-contacts-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  text-decoration: underline;
}

.catalog-inner-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 35px auto;
  padding: 0;
  gap: 16px;
  width: 100%;
  max-width: 1079px;
}
.catalog-inner-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 1;
  margin: 0;
}


.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 16px;
}

.breadcrumbs-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  text-decoration: none;
}

.catalog-products-container {
  display: flex;
  height: 100%;
  min-height: 1380px;
  align-items: flex-start;
  padding: 0;
}

.catalog-left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  width: 100%;
  max-width: 320px;
}

.catalog-right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  max-width: 840px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  max-width: 760px;
}

.catalog-products {
  background-color: #f0f0f0;
  color: #000000;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-price-filter .range-value{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.02em;
}

.catalog-filter-group {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.catalog-filter-button {
  display: block;
  max-width: 220px;
  width: 100%;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.product-frame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 44px;
  max-width: 760px;
  width: 100%;
  padding: 70px 40px 0;
  background-color: #ffffff;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 40px;
  max-width: 760px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000000;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 360px;
  height: auto;
}

.product-card-link {
  margin-bottom: 32px;
}

.product-card-image {
  object-fit: contain;
}

.product-card-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card-title {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.02em;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.19;
  text-align: right;
  color: #444444;
}

.catalog-pagination-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 754px;
  width: 100%;
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}

.catalog-pagination-show-more {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.2em;
  padding: 18px;
  line-height: 1.17;
  width: 100%;
  text-align: center;
  background-color: inherit;
  color: #000000;
  border: none;
}

.page-button {
  display: flex;
  align-items: center;
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.19;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  max-width: 760px;
  width: 100%;
}

.catalog-pagination-list {
  display: flex;
}

.pagination-button {
  text-decoration: none;
}

.edge-page {
  color: rgba(68, 68, 68, 0.3);
}

.catalog-pagination-link {
  display: inline-block;
  padding: 10px 16.5px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-current {
  color: rgba(68, 68, 68, 0.6);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
